@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html,
body {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
}

body:before {
  content: "";
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.custom-navbar {
  background-color: #3b5d50 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
.custom-navbar .navbar-brand {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}
.custom-navbar .navbar-brand span {
  opacity: 0.4;
}
.custom-navbar .navbar-toggler {
  border-color: transparent;
}
.custom-navbar .navbar-toggler:active, .custom-navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
@media screen and (min-width: 1024px) {
  .custom-navbar .custom-navbar-nav li {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.custom-navbar .custom-navbar-nav li a {
  font-weight: 500;
  color: #fff !important;
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
  position: relative;
}
@media screen and (min-width: 768px) {
  .custom-navbar .custom-navbar-nav li a::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 10px;
    background-color: #f9fb29;
    height: 2px;
    opacity: 1;
    visibility: visible;
    width: 0;
    transition: all 0.5s ease-in-out;
  }
}
.custom-navbar .custom-navbar-nav li a:hover {
  opacity: 1;
}
.custom-navbar .custom-navbar-nav li a:hover:before {
  width: calc(100% - 20px);
}
.custom-navbar .custom-navbar-nav li.active a {
  opacity: 1;
}
.custom-navbar .custom-navbar-nav li.active a:before {
  width: calc(100% - 20px);
}
.custom-navbar .custom-navbar-cta {
  margin-left: 0 !important;
  flex-direction: row;
}
@media (min-width: 768px) {
  .custom-navbar .custom-navbar-cta {
    margin-left: 40px !important;
  }
}
.custom-navbar .custom-navbar-cta li {
  margin-left: 0px;
  margin-right: 0px;
}
.custom-navbar .custom-navbar-cta li:first-child {
  margin-right: 20px;
}

.hero {
  background-color: #3b5d50;
  padding: calc(6rem - 30px) 0 0 0;
}
@media (min-width: 768px) {
  .hero {
    padding: calc(8rem - 30px) 0 4rem 0;
  }
}
@media (min-width: 1024px) {
  .hero {
    padding: calc(8rem - 30px) 0 8rem 0;
  }
}
.hero .intro {
  max-width: 450px;
  position: relative;
  z-index: 99;
}
.hero .intro h1 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}
@media (min-width: 1400px) {
  .hero .intro h1 {
    font-size: 54px;
  }
}
.hero .intro p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-bottom: 24px;
}
.hero .hero-img-wrap {
  position: relative;
}
.hero .hero-img-wrap img {
  position: relative;
  top: -80px;
  right: -40px;
  left: 0;
  z-index: 2;
  max-width: 780px;
}
@media (min-width: 768px) {
  .hero .hero-img-wrap img {
    right: 0;
    top: -40px;
    left: -100px;
  }
}
@media (min-width: 1200px) {
  .hero .hero-img-wrap img {
    position: absolute;
    left: 0;
    right: -40px;
    top: -20px;
  }
}
.hero .hero-img-wrap:after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url("/assets/images/dots-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: -40px;
  right: -80px;
}
@media (min-width: 768px) {
  .hero .hero-img-wrap:after {
    top: 20px;
    right: -20px;
  }
}
@media (min-width: 1024px) {
  .hero .hero-img-wrap:after {
    top: 20px;
    right: -40px;
  }
}
@media (min-width: 1200px) {
  .hero .hero-img-wrap {
    top: 20px;
    right: -60px;
  }
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #fff;
  background: #2f2f2f;
}
.btn:hover {
  color: #fff;
  background-color: #222222;
  border-color: #222222;
}
.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none;
}
.btn.btn-primary {
  background-color: #3b5d50;
  border-color: #3b5d50;
}
.btn.btn-primary:hover {
  background-color: #314d43;
  border-color: #314d43;
}
.btn.btn-secondary {
  color: #2f2f2f;
  background-color: #f9fb29;
  border-color: #f9fb29;
}
.btn.btn-secondary:hover {
  background-color: #f8fb10;
  border-color: #f8fb10;
}
.btn.btn-white-outline {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.btn.btn-white-outline:hover {
  border-color: white;
  color: #fff;
}

.products {
  padding: 7rem 0;
}
.products .product-item {
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 50px;
  cursor: pointer;
}
.products .product-item .product-thumbnail {
  margin-bottom: 30px;
  position: relative;
  top: 0;
  transition: all 0.3s ease;
}
.products .product-item h3 {
  font-weight: 600;
  font-size: 16px;
}
.products .product-item strong {
  font-weight: 800 !important;
  font-size: 18px !important;
}
.products .product-item h3,
.products .product-item strong {
  color: #2f2f2f;
  text-decoration: none;
}
.products .product-item .icon-cross {
  position: absolute;
  width: 35px;
  height: 35px;
  display: inline-block;
  background: #2f2f2f;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -17px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s all ease;
}
.products .product-item .icon-cross img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.products .product-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #dce5e4;
  height: 0;
  z-index: -1;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.products .product-item:hover .product-thumbnail {
  top: -25px;
}
.products .product-item:hover .icon-cross {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.products .product-item:hover::before {
  height: 70%;
}

.why {
  padding: 7rem 0;
}
.why .img-wrap {
  position: relative;
}
.why .img-wrap:before {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url("../images/dots-yellow.svg");
  background-size: contain;
  transform: translate(-20%, -20%);
  z-index: -1;
}
.why .img-wrap img {
  border-radius: 20px;
}

.feature {
  margin-bottom: 30px;
}
.feature .icon {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
.feature .icon:before {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  background-color: rgba(59, 93, 80, 0.2);
  border-radius: 50%;
  top: 8px;
  left: 24px;
}
.feature h3 {
  font-size: 14px;
  color: #2f2f2f;
}
.feature p {
  font-size: 14px;
  line-height: 22px;
  color: #6a6a6a;
}